<footer id="footer">
    Copyright &copy; 2017 Gizmo

    <ul class="f-menu">
        <li><%= link_to "Dashboard", admins_dashboard_path %></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</footer>
