<style>
    .s-profile > a {
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
        background-image: url(<%= image_url("bkgds/work.jpg") %>) left top no-repeat;

    }

</style>

<aside id="sidebar" class="sidebar c-overflow">
    <div class="s-profile">
        <a href="" data-ma-action="profile-menu-toggle">
            <div class="sp-pic">
                <%= image_tag "bkgds/work.jpg" %>
            </div>

            <div class="sp-info">
                <%= current_admin.full_name %>

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="profile-about.html">
                    <i class="zmdi zmdi-account"></i>
                    Profile</a>
            </li>
            <li>
                <%= link_to '<i class="zmdi zmdi-time-restore"></i> Sign Out'.html_safe, destroy_admin_session_path, method: :delete %>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li>
            <a href="#">
                <i class="zmdi zmdi-chart"></i>
                Dashboard</a>
        </li>
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle">
                <i class="zmdi zmdi-assignment-check"></i>
                Access</a>

            <ul>
                <li>
                    <a href="#">Accounts</a>
                </li>
                <li>
                    <a href="#">Users</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle">
                <i class="zmdi zmdi-attachment-alt"></i>
                Services</a>

            <ul>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Plus Executives</a>
                </li>
                <li>
                    <a href="#">Corporate Linkage</a>
                </li>
                <li>
                    <a href="#">Minority Linkage</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle">
                <i class="zmdi zmdi-search"></i>
                Reporting</a>

            <ul>
                <li>
                    <a href="#">Typeahead</a>
                </li>
                <li>
                    <a href="#">Criteria</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle">
                <i class="zmdi zmdi-search"></i>
                Reporting</a>

            <ul>
                <li>
                    <a href="#">Typeahead</a>
                </li>
                <li>
                    <a href="#">Criteria</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle">
                <i class="zmdi zmdi-portable-wifi"></i>
                Monitoring</a>

            <ul>
                <li>
                    <a href="#">Registration</a>
                </li>
                <li>
                    <a href="#">Seed File</a>
                </li>
                <li>
                    <a href="#">Notifications</a>
                </li>
            </ul>
        </li>

    </ul>
</aside>
